<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.english_for_kid.thanhnha.englishforkid" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/icon_launcher">
        <activity
            android:name=".activity.Screen_transmit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Home">

        </activity>

        <activity android:name=".activity.LookNChoose"></activity>
        <activity android:name=".activity.ChooseGame"></activity>
        <activity android:name=".activity.Animal"></activity>
        <activity android:name=".activity.ListGroup"></activity>
        <activity android:name=".activity.Flower"></activity>
        <activity android:name=".activity.Fruit"></activity>
        <activity android:name=".activity.Alphabet"></activity>
        <activity android:name=".activity.Means"></activity>
        <activity android:name=".activity.Christmas"></activity>
        <activity android:name=".activity.Sport"></activity>

    </application>

</manifest>
